@charset "UTF-8";

@font-face {
  font-family: "icon";
  src:url("icon.eot");
  src:url("icon.eot?#iefix") format("embedded-opentype"),
    url("icon.woff") format("woff"),
    url("icon.ttf") format("truetype"),
    url("icon.svg#icon") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "icon" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "icon" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-beam:before {
  content: "\61";
}
.icon-discord:before {
  content: "\62";
}
.icon-hitbox:before {
  content: "\63";
}
.icon-player:before {
  content: "\64";
}
.icon-youtube:before {
  content: "\65";
}
.icon-twitch:before {
  content: "\66";
}
.icon-pinterest:before {
  content: "\68";
}
.icon-reddit:before {
  content: "\6b";
}
.icon-steam:before {
  content: "\6d";
}
.icon-bitbucket:before {
  content: "\6e";
}
.icon-github:before {
  content: "\69";
}
.icon-twitter:before {
  content: "\71";
}
.icon-instagram:before {
  content: "\72";
}
.icon-facebook:before {
  content: "\73";
}
.icon-smile:before {
  content: "\67";
}
.icon-user:before {
  content: "\6a";
}
.icon-users:before {
  content: "\6c";
}
.icon-html5:before {
  content: "\6f";
}
.icon-heart:before {
  content: "\70";
}
.icon-mail:before {
  content: "\74";
}
.icon-down:before {
  content: "\75";
}
.icon-clock:before {
  content: "\76";
}
